In [1]:
import pandas as pd

In [2]:
stk = pd.read_csv("../data/train.csv")
stk.head()

,id,sex and age,high_BP,heart_condition_detected_2017,married,job_status and living_area,average_blood_sugar,BMI,smoker_status,TreatmentA,TreatmentB,TreatmentC,TreatmentD,stroke_in_2018
0,16053,"F, 61",1,0,1,government?Remote,71.67,36.6,non-smoker,NaN,NaN,NaN,NaN,0
1,1459,"F, 30",0,0,0,Remote?private_sector,107.95,30.4,quit,NaN,NaN,NaN,NaN,0
2,7678,"F, 51",1,0,1,government?Remote,76.49,42.1,active_smoker,NaN,NaN,NaN,NaN,0
3,34943,"F, 54",0,0,1,government?City,113.98,57.3,quit,NaN,NaN,NaN,NaN,0
4,17741,"M, 27",0,0,0,private_sector?City,70.60,26.7,active_smoker,NaN,NaN,NaN,NaN,0

In [3]:
stk["stroke_in_2018"].value_counts()

0       34179
1         652
.           3
,           1
?           1
N?A         1
nuLL        1
Name: stroke_in_2018, dtype: int64

<div class="alert alert-block alert-warning">
Highly Imbalanced Dataset!
</div>

In [4]:
stk.columns

Index(['id', 'sex and age', 'high_BP', 'heart_condition_detected_2017',
       'married', 'job_status and living_area', 'average_blood_sugar', 'BMI',
       'smoker_status', 'TreatmentA', 'TreatmentB', 'TreatmentC', 'TreatmentD',
       'stroke_in_2018'],
      dtype='object')

In [5]:
stk.shape

(34872, 14)

In [6]:
stk["job_status and living_area"].unique()

array(['government?Remote', 'Remote?private_sector', 'government?City',
       'private_sector?City', 'private_sector?Remote',
       'business_owner?Remote', 'parental_leave?Remote',
       'parental_leave?City', 'business_owner?City',
       'City?private_sector', 'private sector?Remote',
       'Remote?business_owner', 'City?business_owner',
       'Remote?government', 'City?government', 'City?parental_leave',
       'Remote?parental_leave', 'unemployed?City', 'unemployed?Remote',
       'private_sector?c', 'private_sector?', 'business_owner?cIty',
       'govt.?Remote', 'private_sector?CITY', nan, 'City?unemployed',
       'PARENTAL LEAVE?City', '?Remote', 'remote?private_sector',
       'cIty?private_sector', 'GOVERNMENT?Remote', '?City',
       'private?City', 'NULL?City', 'cIty?government',
       'private_sector?NULL', 'Remote?unemployed',
       'PRIVATE sector?Remote', 'remotee?private_sector',
       'parental_leave?REMOTE', 'government?CITY', 'r?private_sector',
       'city?private_sector', 'GOVERNMENT?City', 'NULL?private_sector',
       'PARENTAL_leave?City', 'private sector?City', 'n.a?City',
       'parental_leave?remote', 'City?privattte', 'CITY?private_sector',
       'CIty?private_sector', 'government?REMOTE', 'BUSINESS OWNER?City',
       'City?Biz', 'NULL?Remote', 'PARENTAL leave?Remote',
       'GOVERNment?Remote', 'private_sector?ciTY', 'GOVT.?City',
       'biz?City', 'PRIVATE SECTOR?City', 'business_owner?CITY',
       'private_sector?REMOTE', 'business_owner?remote',
       'c?private_sector'], dtype=object)

In [7]:
stk["sex and age"].unique()

array(['F, 61', 'F, 30', 'F, 51', 'F, 54', 'M, 27', nan, 'M, 63', 'M, 55',
       'F, 37', 'M, 49', 'M, 28', 'F, 68', 'M, 61', 'F, 6', 'M, 48',
       'F, 36', 'M, 53', 'M, 72', 'M, 64', 'F, 71', 'M, 54', 'M, 34',
       '76, F', 'M, 16', 'M, 31', 'F, 66', 'M, 74', 'M, 59', 'M, 52',
       'M, 43', 'F, 76', 'F, 16', 'F, 15', 'F, 32', 'F, 64', 'F, 52',
       'F, 27', 'M, 17', 'M, 79', 'F, 5', 'F, 39', 'F, 34', 'M, 83',
       'M, 8', 'M, 15', 'M, 6', 'F, 82', 'M, 11', 'M, 30', '8, F',
       'F, 38', 'F, 25', 'F, 40', 'F, 80', 'M, 32', 'M, 77', 'M, 60',
       'F, 42', 'M, 35', 'F, 55', 'F, 74', 'M, 19', 'M, 70', 'F, 85',
       'M, 73', 'F, 57', 'M, 67', 'M, 25', 'M, 39', 'M, 37', 'F, 72',
       'F, 59', 'M, 40', 'F, 73', 'F, 11', 'F, 50', 'F, 53', 'F, 35',
       'F, 33', 'M, 69', 'F, 78', 'F, 17', 'F, 69', 'M, 22', 'F, 13',
       '17, F', 'M, 62', 'M, 65', 'M, 58', 'M, 82', 'F, 43', 'F, 44',
       '18, F', '59, F', 'M, 36', 'M, 76', 'M, 50', 'M, 38', 'M, 3.24',
       '43, F', 'F, 20', 'F, 46', 'M, 66', 'F, 48', 'M, 57', '66, F',
       'M, 26', 'M, 12', 'F, 22', 'F, 49', '3.64, F', 'F, 19', 'M, 42',
       'F, 29', 'F, 60', 'M, 44', 'M, 56', 'F, 8', 'F, 83', '70, F',
       'M, 3.72', 'F, 4.16', '53, F', 'F, 65', 'M, 4.56', 'F, 79',
       'F, 62', 'M, 23', 'F, 21', 'M, 29', 'M, 24', 'M, 41', '35, M',
       'F, 31', 'F, 10', '57, F', '62, M', 'F, 77', '47, F', 'male, 63',
       'F, 67', 'F, 81', 'F, 4.08', 'F, 56', 'F, 12', 'F, 47', 'M, 45',
       'M, 3.8', 'F, 9', '22, F', '48, F', 'F, 45', 'F, 18', 'M, 46',
       'F, 28', '56, F', '33, M', '43, M', 'F, 23', 'M, 71', 'F, 58',
       'F, 7', 'M, 84', 'F, 84', 'F, 63', 'M, 85', '16, F', 'M, 81',
       'F, 41', 'F, 75', 'M, 75', '20, F', '52, M', '9, M', 'M, 5',
       '51, M', '64, M', 'F, 3.8', '40, F', '38, M', 'M, 33', '61, F',
       'M, 3.4', 'M, 68', '65, F', 'F, 70', 'M, 4.4', 'M, 20', 'M, 47',
       'M, 9', '50, M', 'M, 13', 'F, 26', 'F, 24', '13, F', 'M, 3.56',
       '75, F', '54, M', '48, M', '71, F', 'M, 51', 'M, 21', '61, M',
       '35, F', 'F, 3.4', '46, F', 'M, 14', 'M, 3.32', '6, F', '37, F',
       'M, 80', '5, F', 'M, 10', 'M, 3.08', '56, M', '42, M', 'F, 4.48',
       '25, M', 'MALE, 39', 'M, 18', 'M, 4.72', 'F, 4.56', '37, M',
       '47, M', '79, F', '83, F', '16, M', '26, F', 'M, fifty', '49, F',
       'M, 4.24', '10, M', 'F, 3.32', 'F, 3.24', '55, M', '4.56, M',
       '38, F', '7, M', 'M, 7', '13, M', '66, M', '78, F', 'M, 78',
       '81, M', 'M, 4.64', 'F, 3.72', '60, M', '44, M', '77, F',
       'M, 3.88', '4.88, M', '23, F', '21, F', '67, F', '24, F', '41, F',
       '42, F', 'F, 4.8', 'M, 4.8', '70, M', '24, M', '19, F', 'M, 4.32',
       '27, M', 'M, 4.88', '14, F', '27, F', '25, F', '33, F', '39, F',
       'F, eleven', '28, M', 'F, 3.56', '74, F', '31, M', 'F, 4', '85, M',
       '5, M', '63, M', '49, M', '50, F', 'F, 14', '7, F', '72, F',
       '26, M', '80, F', '73, F', '63, F', '44, F', '4.72, M', '41, M',
       '28, F', 'F, 4.4', '72, M', '82, M', '30, F', 'F, 4.64', '4.8, F',
       '21, M', 'M, 3.16', '83, M', 'F, 3.64', '74, M', '12, F',
       'F, 4.32', '75, M', '31, F', '11, F', '68, F', '58, F', '58, M',
       '4.64, M', '71, M', '20, M', 'M, 3.64', 'M, 4', '10, F', '11, M',
       '23, M', '4.8, M', '53, M', '4.56, F', '34, M', '29, F', '14, M',
       '79, M', '82, F', '34, F', '3.08, F', '39, M', 'M, 4.48', '17, M',
       'F, 3.08', '45, F', '12, M', 'M, seventy seven', 'F, 4.88',
       '76, M', '19, M', 'F, 4.24', '73, M', '52, F', '32, F', 'M, 4.08',
       '22, M', '80, M', '54, F', '60, F', '69, F', 'F, 3.16', '6, M',
       '3.16, M', '65, M', '45, M', '77, M', 'female, 49', '8, M',
       '30, M', '4.08, M', '57, M', '64, F', '85, F', '36, M', 'M, 4.16',
       '55, F', '81, F', '4.4, F', '15, M', '36, F', 'F, twenty', 'M, ',
       'F, 4.72', '62, F', '3.24, M', '67, M', 'F, seventy seven',
       '18, M', '29, M', '84, F', '15, F', '51, F', 'F, 3.48',
       'M, sixteen', '46, M', '59, M', '4.48, F', '4.08, F', '68, M',
       '69, M', 'MALE, 59', 'F, 3.88', '3.48, F', '40, M', '78, M',
       '9, F', 'm, 25', '3.72, M', 'F, forty', '84, M', '3.72, F',
       'F, sixx', '4.4, M', '32, M', '3.32, M', '4, F', '4, M', '4.24, M',
       'female, 60', 'M, 3.48', '4.88, F', 'Female, 77', '3.56, M',
       '3.64, M', 'f, 52', '4.32, M', '3.56, F', 'MALE, 16', 'female, 8',
       'M, eight', 'Other, 49', 'F, seven', 'female, 72', 'Other, 13',
       'f, 27', '3.88, F', 'MALE, 64', 'F, eighty fivee', 'Other, 56',
       '22, Other', '3.24, F', 'M, eleven', 'F, fifty', '4.16, M',
       '4.16, F', 'M, six', 'female, 59', '3.4, F', '3.8, M', 'mmale, 75',
       'f, 12', 'MM, 19', '4.64, F', 'Other, 42', 'female, 48',
       'F, thirtythree', 'femalle, 56', 'Male, 54', 'm, 8', '4.72, F',
       'm, 22', '3.48, M', '52, Other'], dtype=object)

Looks like there are some variables that need to be wrangled.

### Data Wrangling

In [8]:
def split_row(row, sep):
    x = str(row).split(sep=sep)
#     print(x)
    if len(x) == 1:
        return str(x[0])
    else:
        return str(x[0]), str(x[1])
    
def split_tup(row):
    if len(row) == 1:
        return row[0]
    else:
        return row[0], row[1]   
    
# def swap_two_cols(col1, col2, 
#                   col1_str, col2_str,
#                   col1_corr, col2_corr
#                  ):
#     print("{}: {}\{}: {}".format(col1_str, col1, col2_str, col2))
#     if (col1 in col2_corr) & (col2 in col1_corr):
#         print("swap")
#         return col2, col1
#     else:
#         print("don't swap")
#         return col1, col2
    
def swap_job_living(job, area):
    print("job: {}\narea: {}".format(job, area))
    if (job in living_area_correct) & (area in job_status_correct):
        print("swap")
        return area, job
    else:
        print("don't swap")
        return job, area
    
def swap_sex_age(sex, age):
    print("sex: {}\nage: {}".format(sex, age))
    if (age in sex_correct):
        print("swap")
        return age, sex
    else:
        print("don't swap")
        return sex, age

#### Testing of functions

In [ ]:
split_row(row='F, 61', sep=",")

('F', ' 61')

## Wrangling Begins Here

<div class="alert alert-block alert-info">
Check Job status and living area
</div>

In [ ]:
stk["job_status_living_area"] = stk["job_status and living_area"].apply(split_row, args="?")
stk.head()

,id,sex and age,high_BP,heart_condition_detected_2017,married,job_status and living_area,average_blood_sugar,BMI,smoker_status,TreatmentA,TreatmentB,TreatmentC,TreatmentD,stroke_in_2018,job_status_living_area
0,16053,"F, 61",1,0,1,government?Remote,71.67,36.6,non-smoker,NaN,NaN,NaN,NaN,0,"(government, Remote)"
1,1459,"F, 30",0,0,0,Remote?private_sector,107.95,30.4,quit,NaN,NaN,NaN,NaN,0,"(Remote, private_sector)"
2,7678,"F, 51",1,0,1,government?Remote,76.49,42.1,active_smoker,NaN,NaN,NaN,NaN,0,"(government, Remote)"
3,34943,"F, 54",0,0,1,government?City,113.98,57.3,quit,NaN,NaN,NaN,NaN,0,"(government, City)"
4,17741,"M, 27",0,0,0,private_sector?City,70.60,26.7,active_smoker,NaN,NaN,NaN,NaN,0,"(private_sector, City)"

In [ ]:
stk['job_status'], stk['living_area'] = zip(*stk['job_status_living_area'].map(split_tup))
stk.head()

---
__Living Area__
---

Make everything lowercase, remove dodgy variables, and correct spelling

In [ ]:
stk["living_area"] = stk["living_area"].apply(lambda x: x.lower())

In [ ]:
print(stk["living_area"].value_counts())
print(stk["living_area"].unique())

In [ ]:
stk.loc[stk["living_area"] == "privattte", "living_area"] = "private_sector"
print(stk["living_area"].value_counts())

In [ ]:
stk[stk["living_area"] == "government"]

<div class="alert alert-block alert-warning">
It appears that living_area and job_status are sometimes filled in the wrong columns
</div>

Hence, we need to write a function to swap them.

But before we do that, we designate the variables we want to keep.

In [ ]:
living_area_keep = ["city", "remote", "private_sector", "business_owner",
                    "parental_leave", "government", "unemployed"]

In [ ]:
stk = stk[(stk["living_area"].isin(living_area_keep))]
stk.shape

---
__Job status__
---

In [ ]:
stk["job_status"] = stk["job_status"].apply(lambda x: x.lower())

In [ ]:
print(stk["job_status"].value_counts())
print(stk["job_status"].unique())

In [ ]:
stk.loc[stk["job_status"] == "parental leave", "job_status"] = "parental_leave"
stk.loc[stk["job_status"] == "private sector", "job_status"] = "private_sector"
stk.loc[stk["job_status"] == "private", "job_status"] = "private_sector"
stk.loc[stk["job_status"] == "govt.", "job_status"] = "government"
stk.loc[stk["job_status"] == "remotee", "job_status"] = "remote"
print(stk["job_status"].value_counts())

In [ ]:
# Variables to be dropped
job_status_keep = ["private_sector", "business_owner", "parental_leave", 
                   "government", "city", "remote", "unemployed"]

In [ ]:
stk = stk[(stk["job_status"].isin(job_status_keep))]
stk.shape

__Now let's swap the variables around__

In [ ]:
job_status_correct = ["private_sector", "business_owner", "parental_leave", 
                   "government", "unemployed"]
living_area_correct = ["city", "remote"]

In [ ]:
stk["job_status_corr"], stk["living_area_corr"] = zip(*stk.apply(lambda x:\
            swap_job_living(x.job_status, x.living_area), axis=1))

In [ ]:
print(stk["job_status_corr"].value_counts())
print(stk["living_area_corr"].value_counts())

### Sex and Age

<div class="alert alert-block alert-info">
Sex and Age variable is a little messy. Let's clean this up.
</div>

In [ ]:
stk["sex and age"].unique()

In [ ]:
stk["sex_and_age"] = stk["sex and age"].apply(split_row, args=",")
stk["sex"], stk["age"] = zip(*stk['sex_and_age'].map(split_tup))
stk.head()

### Sex Variable

Now let's deal with the `sex` variable separately

In [ ]:
stk["sex"] = stk["sex"].apply(lambda x: x.lower())

print(stk["sex"].value_counts())
print(stk["sex"].unique())

stk.loc[stk["sex"] == "male", "sex"] = "m"
stk.loc[stk["sex"] == "mmale", "sex"] = "m"
stk.loc[stk["sex"] == "mm", "sex"] = "m"
stk.loc[stk["sex"] == "female", "sex"] = "f"
stk.loc[stk["sex"] == "femalle", "sex"] = "f"

In [ ]:
stk[stk["sex"] == "n"][["sex and age", "sex", "age"]].head()

In [ ]:
sex_not_keep = ["", "other", "n"] 

# We can't remove the unwanted numbers out until we swap them with age
# So we instead filter those that we don't want to keep.

In [ ]:
stk = stk[~stk["sex"].isin(sex_not_keep)]
stk.shape

### Age Variable

In [ ]:
stk["age"] = stk["age"].apply(lambda x: x.lower())
stk["age"] = stk["age"].apply(lambda x: x.strip())

print(stk["age"].value_counts())
print(stk["age"].unique())

In [ ]:
stk.loc[stk["age"] == 'sixteen', "age"] = '16'
stk.loc[stk["age"] == 'eleven', "age"] = '11'
stk.loc[stk["age"] == 'fifty', "age"] = '50'
stk.loc[stk["age"] == 'seventy seven', "age"] = '77'
stk.loc[stk["age"] == 'sixteen', "age"] = '16'
stk.loc[stk["age"] == 'forty', "age"] = '40'
stk.loc[stk["age"] == 'sixx', "age"] = '6'
stk.loc[stk["age"] == 'eight', "age"] = '8'
stk.loc[stk["age"] == 'seven', "age"] = '7'
stk.loc[stk["age"] == 'eighty fivee', "age"] = '85'
stk.loc[stk["age"] == 'six', "age"] = '6'
stk.loc[stk["age"] == 'thirtythree', "age"] = '33'

In [ ]:
stk.columns

In [ ]:
print(stk["age"].value_counts())
print(stk["age"].unique())

In [ ]:
age_not_keep = ['', 'other', 'a']

In [ ]:
stk = stk[~stk["age"].isin(age_not_keep)]
stk.shape

In [ ]:
sex_correct = ["f", "m"]

stk["sex_corr"], stk["age_corr"] = zip(*stk.apply(lambda x:\
            swap_sex_age(x.sex, x.age), axis=1))

In [ ]:
print(stk["sex_corr"].value_counts())
print(stk["age_corr"].unique())

We're not done yet. We need to convert these ages to floats. The remaining variables are to be cleaned as well, although I suspect that won't be as difficult as the first 2.

In [ ]:
stk["age_corr"] = stk["age_corr"].apply(lambda x: int(float(x)))
print(stk["age_corr"].unique())

In [ ]:
print(stk.shape)
stk.head()

### The remaining variables

<div class="alert alert-block alert-info">
High_BP
</div>

In [ ]:
print(stk["high_BP"].unique())
print("---")
print(stk["high_BP"].value_counts())
print("---")
print("NaN values: {}".format(stk[stk["high_BP"].isnull()].shape[0]))

stk = stk[stk["high_BP"].isin(['0', '1'])]
print(stk.shape)

<div class="alert alert-block alert-info">
heart_condition_detected_2017
</div>

In [ ]:
print(stk["heart_condition_detected_2017"].unique())
print("---")
print(stk["heart_condition_detected_2017"].value_counts())
print("---")
print("NaN values: {}".format(stk[stk["heart_condition_detected_2017"].isnull()].shape[0]))

stk = stk[stk["heart_condition_detected_2017"].isin(['0', '1'])]
print(stk.shape)

In [ ]:
print(stk["married"].unique())
print("---")
print(stk["married"].value_counts())
print("---")
print("NaN values: {}".format(stk[stk["married"].isnull()].shape[0]))

stk = stk[stk["married"].isin(['0', '1'])]
print(stk.shape)

<div class="alert alert-block alert-info">
smoker_status
</div>

In [ ]:
print(stk["smoker_status"].unique())
print(stk["smoker_status"].value_counts())
print("NaN values: {}".format(stk[stk["married"].isnull()].shape[0]))

smoker_status_keep = ["non-smoker", "quit", "active_smoker"]
stk = stk[stk["smoker_status"].isin(['non-smoker', 'quit', 'active_smoker'])]
print(stk.shape)