In [1]:
import pandas as pd

In [6]:
sample = pd.read_csv("../data/sample.csv")
sample

      id stroke_in_2018
0  33327              1
1    839              0
2  11127              0
3    ...            ...

In [10]:
sample.columns

Index(['id', 'stroke_in_2018'], dtype='object')

In [7]:
sample.dtypes

id                object
stroke_in_2018    object
dtype: object

In [3]:
df = pd.read_csv("../data/test.csv")
df

,id,sex and age,high_BP,heart_condition_detected_2017,married,job_status and living_area,average_blood_sugar,BMI,smoker_status,TreatmentA,TreatmentB,TreatmentC,TreatmentD
0,33327,"F, 36",0.0,0.0,1.0,private_sector?Remote,76.05,33.4,active_smoker,NaN,NaN,NaN,NaN
1,839,"F, 40",0.0,0.0,1.0,City?government,73.77,30.1,non-smoker,NaN,NaN,NaN,NaN
2,11127,"M, 59",0.0,0.0,1.0,business_owner?Remote,62.95,30.8,NaN,NaN,NaN,NaN,NaN
3,20768,"33, F",0.0,0.0,1.0,private_sector?City,68.81,36.5,quit,NaN,NaN,NaN,NaN
4,37774,"F, 22",0.0,0.0,0.0,private_sector?City,122.89,30.8,active_smoker,NaN,NaN,NaN,NaN
5,4283,"M, 60",0.0,1.0,1.0,business_owner?City,116.97,30.7,non-smoker,0.0,1.0,0.0,1.0
6,13832,"F, 83",0.0,0.0,1.0,business_owner?City,112.96,44.7,non-smoker,NaN,NaN,NaN,NaN
7,4579,"M, 47",0.0,1.0,0.0,government?City,99.22,36.7,NaN,0.0,1.0,0.0,0.0
8,26781,"F, 82",0.0,0.0,1.0,private_sector?City,226.94,28.9,non-smoker,NaN,NaN,NaN,NaN
9,17196,"F, 49",0.0,0.0,1.0,private_sector?City,78.88,28,non-smoker,NaN,NaN,NaN,NaN
10,2514,"M, 58",0.0,0.0,1.0,City?private_sector,67.16,30.9,non-smoker,NaN,NaN,NaN,NaN
11,19277,"M, 82",1.0,0.0,1.0,business_owner?City,194.21,25,quit,NaN,NaN,NaN,NaN
12,17398,"M, 4.88",0.0,0.0,0.0,parental_leave?Remote,107.11,18.5,NaN,NaN,NaN,NaN,NaN
13,31096,"M, 58",0.0,0.0,1.0,government?Remote,100.03,30,non-smoker,NaN,NaN,NaN,NaN
14,20650,"F, 38",1.0,0.0,1.0,private_sector?City,88.01,36.8,non-smoker,NaN,NaN,NaN,NaN
15,3184,"M, 50",0.0,0.0,1.0,Remote?private_sector,76.80,35.3,NaN,NaN,NaN,NaN,NaN
16,25947,"F, 84",0.0,0.0,1.0,Remote?private_sector,75.28,30.4,NaN,NaN,NaN,NaN,NaN
17,5128,"F, 68",0.0,0.0,1.0,government?City,98.87,33.9,non-smoker,NaN,NaN,NaN,NaN
18,23326,"M, 40",0.0,0.0,1.0,business_owner?City,194.68,29.9,non-smoker,NaN,NaN,NaN,NaN
19,30751,"M, 52",0.0,0.0,1.0,private_sector?City,108.91,24,non-smoker,NaN,NaN,NaN,NaN
20,2813,"M, 62",0.0,0.0,1.0,City?government,74.64,33.7,non-smoker,NaN,NaN,NaN,NaN
21,15246,"F, 68",1.0,0.0,1.0,private_sector?City,195.38,33.6,non-smoker,NaN,NaN,NaN,NaN
22,2554,"M, 35",0.0,0.0,1.0,Remote?private_sector,120.46,35.6,non-smoker,NaN,NaN,NaN,NaN
23,11821,"32, F",0.0,0.0,1.0,private_sector?Remote,76.12,21,NaN,NaN,NaN,NaN,NaN
24,36075,"M, 14",0.0,0.0,0.0,parental_leave?City,88.00,32.2,NaN,NaN,NaN,NaN,NaN
25,22637,"M, 40",0.0,0.0,0.0,private_sector?Remote,94.70,46.4,quit,NaN,NaN,NaN,NaN
26,30739,"F, 35",0.0,0.0,1.0,private_sector?City,127.86,31.7,quit,NaN,NaN,NaN,NaN
27,5329,"F, 43",0.0,0.0,1.0,private_sector?Remote,72.97,32.8,NaN,NaN,NaN,NaN,NaN
28,41161,"M, 47",0.0,0.0,1.0,government?City,84.19,30.3,quit,NaN,NaN,NaN,NaN
29,30743,"M, 43",0.0,0.0,1.0,private_sector?Remote,220.94,34.4,active_smoker,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,14277,"F, 3.8",0.0,0.0,0.0,parental_leave?City,92.79,25.6,NaN,NaN,NaN,NaN,NaN
8689,21603,"57, M",0.0,0.0,1.0,government?Remote,84.28,33.3,active_smoker,NaN,NaN,NaN,NaN
8690,14473,"M, 47",0.0,0.0,1.0,government?Remote,106.13,34.3,NaN,NaN,NaN,NaN,NaN
8691,22513,"F, 25",0.0,0.0,0.0,private_sector?Remote,118.30,31.7,active_smoker,NaN,NaN,NaN,NaN
8692,42215,"F, 23",0.0,0.0,0.0,private_sector?City,97.04,28.5,non-smoker,NaN,NaN,NaN,NaN
8693,14740,"M, 77",0.0,0.0,1.0,business_owner?Remote,76.01,29.9,quit,NaN,NaN,NaN,NaN
8694,31252,"F, 55",0.0,0.0,1.0,government?Remote,69.20,27.1,quit,NaN,NaN,NaN,NaN
8695,8166,"M, 60",0.0,0.0,1.0,private_sector?City,71.79,30.8,NaN,NaN,NaN,NaN,NaN
8696,19964,"M, 53",1.0,0.0,1.0,business_owner?Remote,79.83,30,active_smoker,NaN,NaN,NaN,NaN
8697,28849,"M, 51",0.0,0.0,1.0,private_sector?Remote,123.35,32.1,NaN,NaN,NaN,NaN,NaN
8698,27013,"F, 12",0.0,0.0,0.0,parental_leave?City,62.44,34.3,NaN,NaN,NaN,NaN,NaN
8699,37724,"F, 74",0.0,0.0,1.0,government?Remote,79.63,25.5,non-smoker,NaN,NaN,NaN,NaN
8700,12513,"M, 67",0.0,0.0,1.0,private_sector?City,219.53,34.4,non-smoker,NaN,NaN,NaN,NaN
8701,14401,"M, 54",0.0,0.0,1.0,private_sector?Remote,117.68,36.5,NaN,NaN,NaN,NaN,NaN
8702,15130,"F, 9",0.0,0.0,0.0,parental_leave?Remote,87.83,24.5,NaN,NaN,NaN,NaN,NaN
8703,31955,"M, 51",0.0,0.0,1.0,private_sector?City,136.22,26.4,non-smoker,NaN,NaN,NaN,NaN
8704,25036,"M, 24",0.0,0.0,0.0,Remote?private_sector,93.17,29.7,NaN,NaN,NaN,NaN,NaN
8705,2857,"F, 66",0.0,0.0,1.0,City?private_sector,95.50,NaN,quit,NaN,NaN,NaN,NaN
8706,6480,"F, 21",0.0,0.0,0.0,private_sector?City,76.12,24.4,non-smoker,NaN,NaN,NaN,NaN
8707,40291,"F, 28",0.0,0.0,0.0,private_sector?City,84.97,28.4,non-smoker,NaN,NaN,NaN,NaN
8708,19138,"F, 26",0.0,0.0,0.0,private_sector?City,131.85,28.9,non-smoker,NaN,NaN,NaN,NaN
8709,9266,"M, 80",1.0,0.0,1.0,business_owner?Remote,234.61,34.7,quit,NaN,NaN,NaN,NaN
8710,26713,"F, 3.32",0.0,0.0,0.0,parental_leave?City,88.86,17.2,NaN,NaN,NaN,NaN,NaN
8711,42238,"M, 19",0.0,0.0,0.0,private_sector?Remote,69.83,33,quit,NaN,NaN,NaN,NaN
8712,28993,"M, 44",0.0,0.0,1.0,private_sector?City,85.98,32.7,quit,NaN,NaN,NaN,NaN
8713,29622,"F, 82",0.0,1.0,1.0,private_sector?City,108.14,28.1,active_smoker,0.0,1.0,1.0,0.0
8714,34519,"F, 53",0.0,0.0,1.0,private_sector?Remote,79.75,38,non-smoker,NaN,NaN,NaN,NaN
8715,3938,"F, 60",1.0,0.0,1.0,City?private_sector,102.67,53.2,quit,NaN,NaN,NaN,NaN
8716,3252,"F, 59",1.0,0.0,1.0,Remote?private_sector,101.97,36.4,active_smoker,NaN,NaN,NaN,NaN
8717,10499,"M, 34",0.0,0.0,0.0,government?Remote,78.21,36.6,active_smoker,NaN,NaN,NaN,NaN

In [8]:
df["stroke_in_2018"] = '0'

In [13]:
df[["id", "stroke_in_2018"]].to_csv("../submission/test_submission.csv", index=False)

In [14]:
pd.read_csv("../submission/test_submission.csv")

         id  stroke_in_2018
0     33327               0
1       839               0
2     11127               0
3     20768               0
4     37774               0
5      4283               0
6     13832               0
7      4579               0
8     26781               0
9     17196               0
10     2514               0
11    19277               0
12    17398               0
13    31096               0
14    20650               0
15     3184               0
16    25947               0
17     5128               0
18    23326               0
19    30751               0
20     2813               0
21    15246               0
22     2554               0
23    11821               0
24    36075               0
25    22637               0
26    30739               0
27     5329               0
28    41161               0
29    30743               0
...     ...             ...
8688  14277               0
8689  21603               0
8690  14473               0
8691  22513               0
8692  42215               0
8693  14740               0
8694  31252               0
8695   8166               0
8696  19964               0
8697  28849               0
8698  27013               0
8699  37724               0
8700  12513               0
8701  14401               0
8702  15130               0
8703  31955               0
8704  25036               0
8705   2857               0
8706   6480               0
8707  40291               0
8708  19138               0
8709   9266               0
8710  26713               0
8711  42238               0
8712  28993               0
8713  29622               0
8714  34519               0
8715   3938               0
8716   3252               0
8717  10499               0

[8718 rows x 2 columns]